header {
  font-family: 'Montserrat Bold', sans-serif;
  margin: 0;
  height: 40px;
  border: 1px solid inherit;
}

header nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 25px;
}

header nav h1 {
  font-weight: 300;
  margin: 0 0 0 25px;
  font-size: 25px;
  color: rgb(214, 214, 214);
}

header nav ul li {
  display: flex;
}

header nav ul li a {
  margin: 5px;
}

.signup-container {
  display: flex;
  align-items: center;
}

.header-signup-submit {
  margin: 0;
  padding: 0;
  height: 20px;
}

.header-login-button {
  font-size: 12px;
  color: rgb(214, 214, 214);
  text-decoration: none;
}

.header-login-button:hover {
  color: white;
}

.header-signup-button {
  font-size: 12px;
  color: rgb(214, 214, 214);
  text-decoration: none;
}

.header-signup-button:hover {
  color: white;
}