footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 12px;
  color: rgb(218, 214, 214);
}

footer p {
  margin: auto 5px;
  text-align: center;
}

footer p a {
  color: rgb(218, 214, 214);
}