/* TODO: light theme */

@font-face {
  font-family: 'Open Sans Regular';
  src: url('fonts/Open Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('fonts/Montserrat/Montserrat-Bold.ttf');
}

html, body, main {
  height: 100%;
  margin: 0 auto;
}

section {
  padding: 20px;
  min-height: 92%;
  margin: 0 auto -50px;
}

/* dark theme */
.dark {
  background-color: rgb(24, 24, 24);
  color: rgb(214, 214, 214);
}

.dark .bottom-border {
  border-bottom: 1px solid rgb(110, 110, 110);
}

.dark .right-border {
  border-right: 1px solid rgb(110, 110, 110);
}